@model  AnonseWeb.ViewModel.UserAnnouncementViewModel

@{
    ViewBag.Title = "UserAnnouncement";
}

<h2>Moje ogłoszenia</h2>

<table class="table">
        <tr>
            <th></th>
        </tr>

    @foreach (var item in Model.AnnouncementList) {
        <tr>
            <td>
                @item.AnnouncementName
            </td>
            <td>
                <a href="@Url.Action("Edit","Announcement", new { AnnouncementId = item.AnnouncementId })">Edytuj</a> |
                <a href="@Url.Action("Delete","Announcement", new { AnnouncementId = item.AnnouncementId })" onclick="return confirm('Czy na pewno mam usunąć ogłoszenie?')">Usuń</a>
            </td>
        </tr>
    }

    </table>

